.Info{
    /* position: relative; */
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 0px 30px;
    user-select: none;
}

#a{
    font-size: 5.5vw;
    font-weight: 500;
    font-family: "Monoton", sans-serif;
    margin-right: 4vw;
}

#b{
    font-size: 12vw;
    font-family: "Anton SC", sans-serif;
}

#c{
    font-size:6vw;
    font-weight: bolder;
    font-family: "Turret Road", sans-serif;
}

#d{
    font-size: 4.5vw;
    font-weight: bold;
    color: rgb(236, 48, 48);
    margin-right: 50px;
    font-family: "Silkscreen", sans-serif;
}

#d:hover{
    color: #eed72c;
}

#e{
    font-size: 6vw;
    font-weight: bolder;
    font-family: "Turret Road", sans-serif;
}


/* Media Query for Responsivness*/

@media (min-width:100px) and (max-width:400px){
    .Info{
        height: 65vh;
        padding: 0px 5px;
    }
    #a{
        font-size: 25px;
        margin-right: 10px;
    }

    #b{
        font-size: 45px;
    }

    #c{
        font-size: 40px;
    }

    #d{
        font-size: 45px;
        margin-right: 10px;
    }

    #e{
        font-size: 40px;
    }
}

@media (min-width:401px) and (max-width:550px){
    
}


