.Info{
    /* position: relative; */
    min-height: 100vh;
    width: 100%;
    background-color: #e8e8e8;
    user-select: none;
    padding-top: 10px;
}

.Upper{
    background-color: #e8e8e8;
    height: 35vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}

.divA{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: end;
}

.divB{
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-top: 20px;
    padding-left: 20px;
}

#a{
    width: fit-content;
    height: fit-content;
    font-size: 7vw;
    font-weight: 500;
    font-family: "Monoton", sans-serif;
}

#b{
    width: 100%;
    height: min-content;
    font-size: 13.5vw;
    font-family: "Anton SC", sans-serif;
}

.Below{
    background-color: #e8e8e8;
    height: min-content;
    width: 100%;
    padding: 0px 50px;
    /* background-color: blue; */
    display: flex;
}

.Text{
    height: min-content;
    width: min-content;
    display: flex;
    flex-direction: column;
}

.TextA{
    height: auto;
    width: min-content;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
}

.TextB{
    height: auto;
    width: 100%;
    overflow: hidden;
    align-items: end;
}
.Text1{
    height: auto;
    width:min-content;
    /* background-color: #eed72c; */
    overflow: hidden;
}

#c{
    height: fit-content;
    width: fit-content;
    font-size:6.5vw;
    font-weight: bolder;
    font-family: "Turret Road", sans-serif;
}

.Text2{
    height: auto;
    width: min-content;
    /* background-color: aqua; */
    overflow: hidden;
}
#d{
    scale: 0;
    font-size: 8.5vw;
    font-family: "Monoton", sans-serif;
    font-weight: 100;
    padding: 20px;
}

#d:hover{
    color: rgb(236, 48, 48);
}

#e{
    display: block;
    width: 100%;
    font-size: 6.5vw;
    font-weight: bolder;
    font-family: "Turret Road", sans-serif;
}

.Video{
    height: auto;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.VFrame{
    height: 100%;
    width: 100%;
    /* background-color: #eed72c; */
    
}

.VFrame video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px;
    border: 6px solid black;
}


/* Medi{a Query for Responsivness*/

@media (min-width:100px) and (max-width:700px){
    .Info{
        min-height: fit-content;
        width: 100%;
        user-select: none;
        padding-bottom: 20px;
    }

    .Upper{
        height: 10vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        padding: 0px 20px;
        margin-top: 10px;
    }

    .divA{
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: end;
    }

    .divB{
        height: 100%;
        display: flex;
        align-items: end;
        margin-top: 10px;
        padding-left: 5px;
    }

    #a{
        width: fit-content;
        height: fit-content;
        font-size: 6.5vw;
        font-weight: 500;
        font-family: "Monoton", sans-serif;
    }

    #b{
        font-size: 13vw;
        font-family: "Anton SC", sans-serif;
    }

    .Below{
        padding: 10px 20px;
        width: 100%;
        display: flex;
    }


    .TextA{
        height: auto;
        display: flex;
        margin-bottom: 0px;
        overflow: hidden;
    }

    .TextB{
        height: auto;
        width: 100%;
        overflow: hidden;
    }
    .Text1{
        height: auto;
        width:min-content;
        /* background-color: #eed72c; */
        overflow: hidden;
    }

    #c{
        height: fit-content;
        width: fit-content;
        font-size:6.5vw;
        font-weight: bolder;
        font-family: "Turret Road", sans-serif;
    }

    .Text2{
        height: auto;
        width: min-content;
        /* background-color: aqua; */
        overflow: hidden;
    }
    #d{
        scale: 0;
        font-size: 8.5vw;
        font-family: "Monoton", sans-serif;
        font-weight: 100;
        padding: 6px;
    }

    #d:hover{
        color: rgb(236, 48, 48);
    }

    #e{
        display: block;
        width: 100%;
        font-size: 6.5vw;
        font-weight: bolder;
        font-family: "Turret Road", sans-serif;
    }

    .Video{
        display: flex;
        align-items: end;
    }

    .VFrame video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        border: 3px solid black;
    }
}



