.Intro{
    height: 100vh;
    width: 100%;
    background-color: #e8e8e8;
    /* background-color: #FAF9F6; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Hello{
    position: absolute;
    height: auto;
    width: auto;
    top: 100px;
}

span{
    color: black;
    font-size: 400px;
    font-family: "Inter Tight", sans-serif;
    user-select: none;
    font-weight: bolder;
}



/* Media Query for Responsivness*/

@media (min-width:100px) and (max-width:400px){
  .Intro{
        height: 50vh;
    }
    span{
        font-size: 100px;
    }
}

@media (min-width:401px) and (max-width:550px){
    .Intro{
        height: 50vh;
    }
    span{
        font-size: 140px;
    }
}


