.Intro{
    height: 100vh;
    width: 100%;
    background-color: #E8E8E8;
    /* background-color: #FAF9F6; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Hello{
    position: absolute;
    height: auto;
    width: auto;
}
.text {
    color: black;
    font-size: 32vw;
    font-family: "Anton SC", sans-serif;
    user-select: none;
    font-weight: bolder;
    display: inline-block;
}




/* Media Query for Responsivness*/

@media (min-width:100px) and (max-width:400px){
  .Intro{
        height: 35vh;
    }
    .text{
        font-size: 120px;
    }
    .Hello{
        top: 30%;
    }
    .text {
    font-size: 40vw;
}
}

@media (min-width:401px) and (max-width:550px){
    .Intro{
        height: 40vh;
    }
    .text{
        font-size: 140px;
    }
    .Hello{
        top: 23%;
    }
}


