.Intro{
    height: 100vh;
    width: 100%;
    background-color: #e8e8e8;
    /* background-color: #FAF9F6; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Hello{
    position: absolute;
    height: auto;
    width: auto;
    top: 20px;
}

span{
    color: black;
    font-size: 440px;
    font-family: "Anton SC", sans-serif;
    user-select: none;
    font-weight: bolder;
}

.text {
    display: inline-block; /* REQUIRED for y animation to apply */
}




/* Media Query for Responsivness*/

@media (min-width:100px) and (max-width:400px){
  .Intro{
        height: 35vh;
    }
    span{
        font-size: 120px;
    }
    .Hello{
        top: 25%;
    }
}

@media (min-width:401px) and (max-width:550px){
    .Intro{
        height: 40vh;
    }
    span{
        font-size: 140px;
    }
    .Hello{
        top: 23%;
    }
}


