.Landing {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
}

.img-item {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  visibility: hidden; /* start hidden */
}


@media (min-width:100px) and (max-width:400px){
  .Landing {
    width: 100px;
    height: 100px;
  }
}

@media (min-width:401px) and (max-width:550px){
    .Landing {
    width: 120px;
    height: 120px;
  }
}

