.Projects{
    background-color: #e8e8e8;
    width: 100%;
    height: min-content;
    padding: 0px 45px 5px 45px;
}

.Title{
    height: min-content;
    width: 100%;
    /* background-color:aqua; */
    padding: 0px 0px 60px;
    text-align: center;
    overflow: hidden;
}

.Title h1{
    font-size: 13vh;
    font-family: "Anton SC", sans-serif;
    font-weight: lighter;
}

.ProjectContainer{
    height: 100%;
    width: 100%;
}

.GridCont1{
    height: auto;
    width: 100%;
    /* background-color: aqua; */
}

.Grid{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    height: 100%;
    width: auto;
    margin-bottom: 100px;
}

.Project1{
    grid-column: 1/4;
    height: auto;
    aspect-ratio: 16/12;
    /* background-color: #111; */
    margin-top: 20px;
    color: black;
}

.ImgCont{
    height: 90%;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 20px;
}

.ProImg{
    height: 100%;
    width: 100%;
    background-color: #111;
    /* border: 5px solid black; */
    background-image: url(../Images/XTrack.jpg);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: contain;
    transition: 0.5s;
}

.Project1 h1{
    padding-top: 8px;
    font-family: "Anton SC", sans-serif;
    font-weight: 100;
    font-size: 4vh;
}

.ImgCont:hover{
    transform: scale(0.98);
    transition: 0.5s;
}

.ImgCont:hover .ProImg{
    transform: scale(1.07);
    transition: 0.5s;
}

.Project2{
    grid-column: 5/7;
    height: auto;
    aspect-ratio: 16/9;
    background-color: #111;
    margin-top: -50%;
}

.GridCont2{
     height: auto;
    width: 100%;
    /* background-color: burlywood; */
}

.Project3{
    grid-column: 1/3;
    height: auto;
    aspect-ratio: 16/9;
    background-color: black;
}

.Project4{
    grid-column: 4/7;
    height: auto;
    aspect-ratio: 16/12;
    background-color: black;
    margin-top: -20%;
}


@media (min-width:100px) and (max-width:400px){
    .Projects{
        height: 145vh;
        padding: 0px 20px;
    }
    .Title{
        padding: 40px 0px 30px;
    }
    .Title h1{
        /* background-color:aqua; */
        font-size: 6vh;
    }
}

@media (min-width:401px) and (max-width:600px){
    .Projects{
        height: 200vh;
        padding: 0px 20px;
    }
    .Title{
        padding: 40px 0px 30px;
    }
    .Title h1{
        /* background-color:aqua; */
        font-size: 6vh;
    }
}

/* ************ For Project Container **********/

@media screen and (max-width:786px) {
    .Grid{
        grid-template-columns: 1fr;
    }

    .Project1, .Project2, .Project3, .Project4{
        grid-column: 1 / -1;
        margin-top: 20px;
    }
}