.SkillCont{
    height: 110vh;
    width: 100%;
    background-color: #e8e8e8;
    z-index: 1000;
    position: sticky;
    top: 0px;
    left: 0px;
}
.Skills{
    height: 100%;
    width: 100%;
    background-color: #252525;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 60px 60px 0px 0px;
}

.SkillData{
    height: 100vh;
    width: 60%;
    padding-top: 130px;
    background-color: #252525;
    border-radius: 60px 0px 0px 0px;
    padding-left: 10px;
}

.SkillTitle{
    padding-top: 70px;
    height: 100vh;
    width: 40%;
    padding-right: 10px;
    text-align: center;
    background-color: #252525;
    border-radius: 0px 60px 0px 0px;
}

.Title1{
    height: min-content;
    width: 100%;
    text-align: center;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 60px 0px 0px;
}

.Title2{
    height: 50vh;
    width: 100%;
    text-align: center;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
}

#T1, #T2{
    height: 100%;
    font-size: 13vh;
    font-family: "Monoton", sans-serif;
    font-weight: lighter;
    overflow: hidden;
    color: white;
}

#T1{
    display: flex;
    align-items: end;
    justify-content: center;
}

#T2{
    display: flex;
    align-items: start;
    justify-content: center;
}

.T{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 6vh;
    /* letter-spacing: 2px;
    font-weight: 500;*/
    color: white; 
    font-weight: bold;
}

.LanguagesCont{
    /* background-color: aqua; */
    margin-top: 10px;
    height: 80px;
    width: 100%;
    padding-left: 20px;
    margin-bottom: 30px;
}
.ProLImg{
    height: 100%;
    width: 100px;
    padding-left: 20px;
    /* background-color: #252525; */
}

@media (min-width:100px) and (max-width:500px){
    .SkillCont{
        height: 110vh;
        width: 100%;
        background-color: #e8e8e8;
        z-index: 1000;
        position: sticky;
        top: 0px;
        left: 0px;
    }
    .Skills{
        display:block;
        border-radius: 60px 60px 0px 0px;
    }
    .SkillData{
        height: 80vh;
        width: 100%;
        padding-top: 30px;
    }

    .SkillTitle{
        height: min-content;
        width: 100%;
        border-radius: 60px 60px 0px 0px;
        overflow: hidden;
    }

    .Title1{
        height: min-content;
        width: 100%;
        text-align: center;
        background-color: #252525;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Title2{
        height: min-content;
        width: 100%;
        text-align: center;
        background-color: #252525;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #T1, #T2{
        height: 100%;
        font-size: 6vh;
        font-family: "Monoton", sans-serif;
        font-weight: lighter;
        overflow: hidden;
        color: white;
    }

    #T1{
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #T2{
        display: flex;
        align-items: start;
        justify-content: center;
    }
     .T{
        font-size: 3vh;
    }

    .LanguagesCont{
        margin-top: 10px;
        height: 50px;
        margin-bottom: 20px;
    }
    .ProLImg{
        height: 100%;
        width: 50px;
        padding-left: 10px;
        /* background-color: #252525; */
    }
}

@media (min-width:501px) and (max-width:1000px){
    .SkillCont{
        height: 100vh;
        width: 100%;
        background-color: #e8e8e8;
        z-index: 1000;
        position: sticky;
        top: 40px;
        left: 0px;
    }
    .Skills{
        display:block;
        border-radius: 60px 60px 0px 0px;
    }
    .SkillData{
        height: 73vh;
        width: 100%;
        padding-top: 30px;
    }

    .SkillTitle{
        height: min-content;
        width: 100%;
        border-radius: 60px 60px 0px 0px;
        overflow: hidden;
    }

    .Title1{
        height: min-content;
        width: 100%;
        text-align: center;
        background-color: #252525;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Title2{
        height: min-content;
        width: 100%;
        text-align: center;
        background-color: #252525;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #T1, #T2{
        height: 100%;
        font-size: 8vh;
        font-family: "Monoton", sans-serif;
        font-weight: lighter;
        overflow: hidden;
        color: white;
    }

    #T1{
        display: flex;
        align-items: end;
        justify-content: center;
    }

    #T2{
        display: flex;
        align-items: start;
        justify-content: center;
    }
     .T{
        font-size: 5vh;
    }

    .LanguagesCont{
        margin-top: 5px;
        height: 60px;
        margin-bottom: 15px;
    }
    .ProLImg{
        height: 100%;
        width: 100px;
        padding-left: 20px;
        /* background-color: #252525; */
    }
}

@media (min-width:800px) and (max-width:1000px){

    .SkillData{
        height: 68vh;
        width: 100%;
        padding-top: 30px;
    }
    #T1, #T2{
        height: 100%;
        font-size: 10vh;
        font-family: "Monoton", sans-serif;
        font-weight: lighter;
        overflow: hidden;
        color: white;
    }

    .T{
        font-size: 5vh;
    }

    .LanguagesCont{
        margin-top: 5px;
        height: 60px;
        margin-bottom: 15px;
    }
    .ProLImg{
        height: 100%;
        width: 100px;
        padding-left: 20px;
        /* background-color: #252525; */
    }
}